# Trip EDA is the version of the code where i search, explore , there is the clean code

In [44]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [45]:
df = pd.read_csv("Trip_detail.csv")

easy read_code

In [46]:

def clean_data(df):
   #clean null value
    df = df.dropna()
    df = df.reset_index(drop=True)
    
    # convert the columns
    df["Start date"] = pd.to_datetime(df["Start date"])
    df["End date"] = pd.to_datetime(df["End date"])
    
    
    df["Duration (days)"] = df["Duration (days)"].astype(int)
    df["Traveler age"] = df["Traveler age"].astype(int)
    
    df["Accommodation cost"] = df["Accommodation cost"].str.replace("$", "").str.replace(",", "").str.replace("USD","").str.strip().astype(float)
    df["Transportation cost"] = df["Transportation cost"].str.replace("$", "").str.replace(",", "").str.replace("USD","").str.strip().astype(float)
    
    
    return df

In [47]:
def MakeBinsNumeric(df):
    bins_duration = [0, 7, 14]
    labels_duration= ['0-7', '8-14']
    df['Duration (days)'] = pd.cut(df['Duration (days)'], bins=bins_duration, labels=labels_duration)
    
    bins_age = [0, 25, 35, 45,60]
    labels_age = ['0-25', '26-35', '36-45', '46-60']
    df['Traveler age'] = pd.cut(df['Traveler age'], bins=bins_age, labels=labels_age)
    
    bins_accom = [0, 600, 900, 1199,  8000]
    labels_accom = ['0-600', '601-900', '901-1199', '1200-8000']
    df['Accommodation cost'] = pd.cut(df['Accommodation cost'], bins=bins_accom, labels=labels_accom)

    bins_transp = [0, 200, 550, 800,3000 ]
    labels_transp = ['0-200', '201-550', '501-800', '801-3000']
    df['Transportation cost'] = pd.cut(df['Transportation cost'], bins=bins_transp, labels=labels_transp)


    
    return df

In [48]:
def NationalityTraveler(df):
    America = ['American', 'Canadian', 'Mexican','Brazilian']
    Europe = ['British', 'Dutch', 'German', 'Scottish', 'Italian', 'French', 'Spanish', 'Greek']
    Asia = ['Korean', 'Vietnamese', 'Chinese', 'Japanese', 'Indian', 'South Korean', 'Taiwanese', 'Indonesian', 'Chinese', 'Taiwan', 'Japan', 'Hong Kong', 'Singapore', 'Cambodia']
    Africa = ['Moroccan', 'South African','Emirati', 'United Arab Emirates']
    Oceania = ['Australian', 'New Zealander']

# create a dictionary to map each nationality to its corresponding continent
    continent_dict = {}
    for nationality in America:
        continent_dict[nationality] = 'America'
    for nationality in Europe:  
        continent_dict[nationality] = 'Europe'
    for nationality in Asia:
        continent_dict[nationality] = 'Asia'
    for nationality in Africa:
        continent_dict[nationality] = 'Africa'
    for nationality in Oceania:
        continent_dict[nationality] = 'Oceania'


    df['Traveler nationality'] = df['Traveler nationality'].map(continent_dict)
    return df

In [49]:
def DestinationClear(df):
    df['Destination'] = df['Destination'].str.split(', ').str[1]
    df['Destination'] = df['Destination'].fillna(df['Destination'].str.split(', ').str[0])
    df['Destination'] = df['Destination'].str.replace('AUS', 'Aus').str.replace('USouth Africa', 'South Africa').str.replace('SA', 'South Africa')
    df['Destination'] = np.where(df['Destination'].isna() | (df['Destination'] == 'nan'), df['Destination'].str.split(', ').str[0], df['Destination'])
    return df

In [50]:
def clean_transportation_types(df):
    df['Transportation type'] = df['Transportation type'].replace(['Flight', 'Plane', 'Airplane'], 'Flight')
    df['Transportation type'] = df['Transportation type'].replace(['Train','Subway''Bus''Ferry'], 'Collectif Travel')
    df['Transportation type'] = df['Transportation type'].replace(['Car rental', 'Car'], 'Car')

 ### All_in_one:

In [51]:
def Preparation_data(df):
   #clean null value
    df = df.dropna()
    df = df.reset_index(drop=True)
    
    # convert the columns
    df["Start date"] = pd.to_datetime(df["Start date"])
    df["End date"] = pd.to_datetime(df["End date"])
    
    
    df["Duration (days)"] = df["Duration (days)"].astype(int)
    df["Traveler age"] = df["Traveler age"].astype(int)
    
    df["Accommodation cost"] = df["Accommodation cost"].str.replace("$", "").str.replace(",", "").str.replace("USD","").str.strip().astype(float)
    df["Transportation cost"] = df["Transportation cost"].str.replace("$", "").str.replace(",", "").str.replace("USD","").str.strip().astype(float)

    # Bins 
    bins_duration = [0, 7, 14]
    labels_duration= ['0-7', '8-14']
    df['Duration (days)'] = pd.cut(df['Duration (days)'], bins=bins_duration, labels=labels_duration)
    
    bins_age = [0, 25, 35, 45,60]
    labels_age = ['0-25', '26-35', '36-45', '46-60']
    df['Traveler age'] = pd.cut(df['Traveler age'], bins=bins_age, labels=labels_age)
    
    bins_accom = [0, 600, 900,  8000]
    labels_accom = ['Low_Cost', 'Medium_Cost', 'High_Cost']
    df['Accommodation cost'] = pd.cut(df['Accommodation cost'], bins=bins_accom, labels=labels_accom)

    bins_transp = [0,  550, 800,3000 ]
    labels_transp = ['Low_Cost', 'Medium_Cost', 'High_Cost']
    df['Transportation cost'] = pd.cut(df['Transportation cost'], bins=bins_transp, labels=labels_transp)
    # Nationality of traveler 
    America = ['American', 'Canadian', 'Mexican','Brazilian']
    Europe = ['British', 'Dutch', 'German', 'Scottish', 'Italian', 'French', 'Spanish', 'Greek']
    Asia = ['Korean', 'Vietnamese', 'Chinese', 'Japanese', 'Indian', 'South Korean', 'Taiwanese', 'Indonesian', 'Chinese', 'Taiwan', 'Japan', 'Hong Kong', 'Singapore', 'Cambodia']
    Africa = ['Moroccan', 'South African','Emirati', 'United Arab Emirates']
    Oceania = ['Australian', 'New Zealander']

# create a dictionary to map each nationality to its corresponding continent
    continent_dict = {}
    for nationality in America:
        continent_dict[nationality] = 'America'
    for nationality in Europe:  
        continent_dict[nationality] = 'Europe'
    for nationality in Asia:
        continent_dict[nationality] = 'Asia'
    for nationality in Africa:
        continent_dict[nationality] = 'Africa'
    for nationality in Oceania:
        continent_dict[nationality] = 'Oceania'


    df['Traveler nationality'] = df['Traveler nationality'].map(continent_dict)

    # Accomodation Type clear 
    classique = ['Hotel', 'Resort', 'Villa', 'Hostel']
    alternatif = ['Airbnb', 'Riad', 'Vacation rental', 'Guesthouse']

    df['Accommodation type'] = df['Accommodation type'].apply(lambda x: 'Classique' if x in classique else 'Alternatif')
    # Destination Clear
    df['Destination'] = df['Destination'].str.split(', ').str[1]
    df['Destination'] = df['Destination'].fillna(df['Destination'].str.split(', ').str[0])
    df['Destination'] = df['Destination'].str.replace('AUS', 'Aus').str.replace('USouth Africa', 'South Africa').str.replace('SA', 'South Africa')
    df['Destination'] = np.where(df['Destination'].isna() | (df['Destination'] == 'nan'), df['Destination'].str.split(', ').str[0], df['Destination'])
    # Transport type clear 
    df['Transportation type'] = df['Transportation type'].replace(['Flight', 'Plane', 'Airplane'], 'Flight')
    df['Transportation type'] = df['Transportation type'].replace(['Train','Subway''Bus''Ferry'], 'Collectif Travel')
    df['Transportation type'] = df['Transportation type'].replace(['Car rental', 'Car'], 'Car')
    # Create Dummies variable for Machine Model( dont know if its good idea)
    #df = pd.get_dummies(df, columns=['Destination', 'Duration (days)', 'Traveler age', 'Traveler nationality', 'Accommodation cost', 'Transportation cost', 'Transportation type'])

    return df

In [52]:
clean_df = Preparation_data(df)
clean_df

C:\Users\yskon\AppData\Local\Temp\ipykernel_77064\2878375381.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Accommodation cost"] = df["Accommodation cost"].str.replace("$", "").str.replace(",", "").str.replace("USD","").str.strip().astype(float)
C:\Users\yskon\AppData\Local\Temp\ipykernel_77064\2878375381.py:15: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Transportation cost"] = df["Transportation cost"].str.replace("$", "").str.replace(",", "").str.replace("USD","").str.strip().astype(float)

,Trip ID,Destination,Start date,End date,Duration (days),Traveler name,Traveler age,Traveler gender,Traveler nationality,Accommodation type,Accommodation cost,Transportation type,Transportation cost
0,1,UK,2023-05-01,2023-05-08,0-7,John Smith,26-35,Male,America,Classique,High_Cost,Flight,Medium_Cost
1,2,Thailand,2023-06-15,2023-06-20,0-7,Jane Doe,26-35,Female,America,Classique,Medium_Cost,Flight,Low_Cost
2,3,Indonesia,2023-07-01,2023-07-08,0-7,David Lee,36-45,Male,Asia,Classique,High_Cost,Flight,Medium_Cost
3,4,USouth Africa,2023-08-15,2023-08-29,8-14,Sarah Johnson,26-35,Female,Europe,Classique,High_Cost,Flight,High_Cost
4,5,Japan,2023-09-10,2023-09-17,0-7,Kim Nguyen,26-35,Female,Asia,Alternatif,Medium_Cost,Collectif Travel,Low_Cost
...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,135,Brazil,2023-08-01,2023-08-10,8-14,Jose Perez,36-45,Male,America,Classique,High_Cost,Car,High_Cost
132,136,Canada,2023-08-15,2023-08-21,0-7,Emma Wilson,26-35,Female,America,Classique,High_Cost,Flight,High_Cost
133,137,Thailand,2023-09-01,2023-09-08,0-7,Ryan Chen,26-35,Male,Asia,Classique,High_Cost,Collectif Travel,High_Cost
134,138,Spain,2023-09-15,2023-09-22,0-7,Sofia Rodriguez,0-25,Female,Europe,Alternatif,High_Cost,Flight,High_Cost
135,139,New Zealand,2023-10-01,2023-10-08,0-7,William Brown,36-45,Male,Oceania,Classique,High_Cost,Collectif Travel,High_Cost

In [53]:
clean_df.dtypes

Trip ID                          int64
Destination                     object
Start date              datetime64[ns]
End date                datetime64[ns]
Duration (days)               category
Traveler name                   object
Traveler age                  category
Traveler gender                 object
Traveler nationality            object
Accommodation type              object
Accommodation cost            category
Transportation type             object
Transportation cost           category
dtype: object